@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.v7_671 {
    width: 100%;
    max-height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
    overflow: hidden;
    z-index: -1;
}

.page-container {
    @apply flex w-full flex-1 flex-col items-center justify-center text-center
}

.title {
    @apply text-eerieBlack text-3xl font-medium leading-tight font-Comfortaa ;
}

.description {
    @apply max-w-5xl text-lg text-charcoal font-Poppins font-medium md:px-20 px-4 py-8 pb-16;
}

.section-container {
    @apply flex flex-col w-full items-center justify-center pt-14 max-w-screen-xl md:px-20 px-4 py-8;
}

.card-title {
    @apply text-black font-Comfortaa font-bold text-2xl pb-4
}

.card-description {
    @apply font-Poppins font-medium text-base text-charcoal mb-8
}

.bullet-point-text {
    @apply font-Poppins font-medium text-base text-left text-charcoal
}

.bullet-point-style-02-text {
    @apply font-Comfortaa font-bold text-base text-left text-black
}

.bullet-point-style-02-description {
    @apply font-Poppins font-semibold text-sm text-left text-charcoal
}

.h1 {
    @apply font-Comfortaa font-bold text-2xl
}

.service-title {
    @apply font-Comfortaa font-bold text-4xl text-eerieBlack
}

.designation-heading {
    @apply font-Poppins font-medium text-base
}

.dotted-border {
    border-image: url('/img/dotted_line.svg') 100% 6;
    border-top-width: 8px;
}

.dotted-border-green {
    border-image: url('/img/dotted_line_green.svg') 100% 6;
    border-top-width: 10px;
}

.text-medium {
    @apply font-Poppins font-medium text-base text-charcoal;
}

.text-extra-bold {
    @apply font-Poppins font-extrabold text-base text-charcoal;
}



.cta-description-title {
    @apply font-Comfortaa font-medium text-3xl
}

.card-container {
    @apply grid grid-cols-3 gap-4 relative;
}

.pointer-container {
    @apply flex flex-row items-start;
}

.pointer-bullet-container {
    @apply pt-1 w-32;
}

.max-w-48 {
    max-width: 48px;
}

.h-inherit {
    height: inherit;
}

.h-auto {
    height: auto;
}

.cloud-operation-img-container img {
    height: auto !important;
}

.header-container {
    margin-top: 3rem;
}

/* .quote-right {
    @apply after:absolute after:w-16 after:h-16 after:content-['hello'] after:bg-[url("/img/testimonial_quote.svg")];
} */


.quote-left {
    @apply before:absolute before:w-12 before:h-4 before:content-[""] before:bg-[url("/img/testimonial_quote.svg")] before:bg-no-repeat md:before:-left-20 before:-top-7 before:left-0
}


.quote-right {
    @apply after:absolute after:w-12 after:h-4 after:content-[""] after:bg-[url("/img/testimonial_quote.svg")] after:bg-no-repeat md:after:-right-16 after:-bottom-6 after:right-0
}



.cta-quote-left {
    @apply before:absolute before:w-28 before:h-8 before:content-[""] before:bg-[url("/img/quotes.svg")] before:bg-no-repeat md:before:-left-28 md:before:-top-7 before:-top-10 before:left-0
}


.cta-quote-right {
    @apply after:absolute after:w-24  md:after:w-28 after:h-8 after:content-[""] after:bg-[url("/img/quotes.svg")] after:bg-center after:bg-no-repeat md:after:-right-32 md:after:-bottom-6 after:-right-4 after:-bottom-10
}

@responsive {
    .w-456 {
        width: 456px;
    }

    .w-320 {
        width: 320px;
    }

    .h-128 {
        height: 28rem;;
    }

    .text-extra-large {
        font-size: 3rem;
        line-height: 3.5rem
    }

    .h-841 {
        height: 841px;
    }
    
    .h-741 {
        height: 741px;
    }


    .header-wrapper  {
        @apply flex flex-col h-full w-full md:pb-8 bg-no-repeat bg-[url('/img/header_background_01.svg')] bg-cover opacity-90 object-contain;
        text-shadow: 0px 2px 4px #000000;
    }
  }

.header-content-wrapper {
    @apply flex flex-col w-full items-center justify-center max-w-screen-xl md:px-20 mx-auto;
}